* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
.wrapper2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.wrapper {
  color: #0c5ac0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: -1;
}
.left {
  width: 50%;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border: 1px solid rgb(53, 141, 208);
  border-collapse: collapse;
  padding: 5px;
  background-color: #ccc;
}
form {
  margin-top: 30px;
  width: 57%;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  width: 100%;
}
form .inputNumbs {
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(173, 240, 240);
  outline: none;
  background-color: rgb(207, 240, 174);
}
.btn2 {
  padding: 10px 31px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(89, 184, 240);
}
.btn {
  padding: 10px 31px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(89, 184, 240);
}
.reset {
  background-color: rgb(204, 34, 153);
}
.rule {
  font-size: 20px;
  color: #e21262;
}

.right {
  width: 50%;
}
.right h2 {
  text-align: center;
  transform: translateX(-91px);
}
.right img {
  width: 80%;
  height: auto;
}
.right .correctShow,
.right .wrongShow {
  display: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column-reverse;
    height: 80vh;
  }
}
