* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
.wrapper {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.left {
  width: 50%;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border: 1px solid rgb(53, 141, 208);
  border-collapse: collapse;
  padding: 5px;
}
form {
  margin-top: 30px;
  width: 57%;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  width: 100%;
}
form .inputNumbs {
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(173, 240, 240);
  outline: none;
}
.btn {
  padding: 10px 31px;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  width: 50%;
}
.right h2 {
  text-align: center;
  transform: translateX(-91px);
}
.right img {
  width: 80%;
  height: auto;
}
.right .correctShow,
.right .wrongShow {
  display: none;
}

.right .show {
  display: block;
}
.right .hide {
  display: none;
}
